<meta name="csrf-token" content="<%= form_authenticity_token %>">
<%= stylesheet_link_tag 'plugin_assets/x0s37h0x_Gamification/dashboard', media: 'all' %>
<%= javascript_include_tag 'plugin_assets/x0s37h0x_Gamification/dashboard' %>
<%= javascript_include_tag 'plugin_assets/x0s37h0x_Gamification/modal' %>


<div id="custom-header-info"></div>
<div id="dashboard-columns" class="dashboard-columns">
  <%= render 'dashboard/habits_section' %>
  <%= render 'dashboard/daily_tasks_section' %>
  <%= render 'dashboard/todos_section' %>
  
  <!-- Calendar Section -->
  <div class="dashboard-column calendar-column">
    <div class="section-container">
      <h2>Kalender</h2>
      <%= render partial: 'common/calendar', locals: { calendar: @calendar } %>
      <p><a href="<%= calendar_ics_path %>" target="_blank">Mit anderen Kalendern synchronisieren</a></p>
    </div>
  </div>
</div>

<!-- Modals (ausgelagert) -->
<%= render partial: 'dashboard/modals/new_habit' %>
<%= render partial: 'dashboard/modals/new_daily_task' %>
<%= render partial: 'dashboard/modals/new_todo' %>

<%= render partial: 'dashboard/modals/edit_daily_task' %>