<div>
  <h2>Tägliche Aufgaben</h2>
  <ul>
    <% @daily_tasks.each do |task| %>
      <li><strong><%= task.subject %></strong>: <%= task.description %></li>
    <% end %>
  </ul>
</div>

<div>
  <h2>ToDos</h2>
  <ul>
    <% @todos.each do |todo| %>
      <li><strong><%= todo.subject %></strong>: <%= todo.description %></li>
    <% end %>
  </ul>
</div>

<div>
  <h2>Gewohnheiten</h2>
  <ul>
    <% @habits.each do |habit| %>
      <li><strong><%= habit.subject %></strong>: <%= habit.description %></li>
    <% end %>
  </ul>
</div>
